/* General styling */
body {
    /*font-family: Arial, sans-serif;*/
    /*background-color: #f9f9f9;*/
    /*color: #333;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*display: flex;*/
    /*justify-content: center;  !* Centrează pe orizontală *!*/
    /*align-items: center;  !* Centrează pe verticală *!*/
    /*height: 100vh;  !* Înălțimea întregii pagini *!*/
    /*flex-direction: column;*/
    /*position: relative; !* Permite poziționarea relativă a butonului de logout *!*/
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 20px; /* Distanță față de butoane */
}

div.buttons-container {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 20px;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*max-width: 400px;*/
}

.dashboard-container {
    padding: 15px 30px;
    font-size: 1.5rem;
    color: white;
    border: none;
    align-items: center;
    justify-items: center;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    max-width: 500px;
    right: 30px;
}

.buton1, .buton2, .buton3, .buton4, .buton5, .buton6{
    height: 100px;
    width: 200px;
    align-content: center;
    justify-content: center;
    font-size: 24px;
}

button:hover {
    background-color: #b35900;
}

button.logout-button {
    position: relative;
    bottom: 50px;
    left: 900px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
}

button.logout-button:hover {
    background-color: #0056b3;
}
