body{
    color: #e0e0e0;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-size: cover;
}

.signin-container h2 {
    color: #cc7000;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background: rgba(255, 255, 255, 0.9);
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

form div {
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}
.password-container {
    position: relative;
}

.password-conditions {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-size: 0.9rem;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #ff9800;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #cc7000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
}

.success-message {
    color: green;
    font-size: 0.9rem;
    margin-top: -10px;
    margin-bottom: 10px;
}
