body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2b2b2b, #ff7f50);
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login {
    color: #cc7000;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

form {
    background-color: #3a3a3a;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email, .password {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

label {
    font-size: 0.9rem;
    color: #cccccc;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #555555;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #ffffff;
    margin-top: 0.3rem;
    outline: none;
}

input:focus {
    border-color: #ff9800;
}

.butonLogin, .signin {
    background-color: #cc7000;
    color: #ffffff;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.butonLogin:hover, .singin:hover {
    background-color: #e08700;
}

.signin{
    margin-top: 1.2rem;
}

p {
    color: #e74c3c;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
}